*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
a{
	text-decoration: none;
}
body{
	background: rgba(224, 236,250, 1.0);
}
nav{
	width: 1400px;
	height: 100px;
	margin: auto;
}
.logo{
	width: 160px;
	height: 100px;
	float: left;
}
.logo img{
	width: 100%;
	height: 100%;
}
ul{
	width: 1240px;
	height: 100px;
	float: left;

}
ul a{
	text-decoration: none;
}
ul li{
	list-style: none;
	float: left;
	text-align: center;
	line-height: 140px;
	width: 200px;
	height: 100px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 26px;
	font-weight: 1000;

}
ul li:hover{
	color: rgba(188, 149, 90, 1.0);
}
.banner{
	width: 1400px;
	height: 570px;
	margin: auto;
	background: url(../images/bannerhome.png)no-repeat;
	background-size: 100% 100%;
}
.main-home{
	width: 1400px;
	height: auto;
	margin: 20px auto;

}
.main-home-pic{
	width: 500px;
	height: auto;
	float: left;
	padding: 15px;
}
.main-home-pic img{
	width: 100%;
	height: auto;
}
.main-home-text{
	width: 900px;
	height: auto;
	float: left;
	text-indent: 2em;
	line-height: 2em;
	font-size: 32px;
	padding: 20px;
}
.main-home-text h3{
	font-size: 36px;
}
.main-home2{
	width: 1400px;
	height: auto;
	text-indent: 2em;
	line-height: 2em;
	font-size: 32px;
	padding: 20px;
}
.main-home3{
	width: 1400px;
	height: auto;
}
.main-home3 img{
	width: 100%;
	height: auto;
}
.main-home5-1{
	width: 680px;
	height: auto;
	float: left;
	margin: 10px;

}
.main-home5-1 img{
	width: 100%;
	height: auto;
}
.main-home4{
	font-size: 30px;
	margin: 30px 0;
}











footer{
	width: 1400px;
	height: 120px;
	margin: auto;
	background: rgba(255, 248, 220, 0.6);
	text-align: center;
	font-size: 22px;
    line-height: 35px;
    padding-top: 35px;
	color: rgba(0, 0, 0, 0.8);
}




/*第二页 ABOUT*/
.banner-about{
	width: 1400px;
	height: 485px;
	margin: auto;
	background: url(../images/Lina_M0A0116_V02b-26x9.webp)no-repeat;
	background-size: 100% 100%;
	text-align: center;
	font-size: 20px;
	line-height: 1000px;
}
article{
	width: 1400px;
	height: auto;
	margin: auto;
}
.main-title{
	width: 1400px;
	height: 180px;
	font-size: 30px;
	text-align: center;
	line-height: 180px;
	color: rgba(0, 0, 0, 0.8);
	border-bottom: 2px solid #666;
	margin-bottom: 30px;
}
.main-left{
	width: 1050px;
	height: auto;
	float: left;
	text-indent: 2em;
	line-height: 2em;
	font-size: 14px;
	padding: 15px;
}
.main-right{
	width: 350px;
	height: auto;
	float: left;
}
.main-right img{
	width: 100%;
	height: auto;
}
.main-bottom{
	width: 1400px;
	height: 182px;
	margin: auto;
}
.main-bottom img{
	width: 100%;
	height: auto;
}
.main-bottom2{
	width: 1400px;
	height: auto;
	margin: auto;

}

.main-bottom2-left{
	width: 400px;
	height: 60px;
	background: rgba(66, 139, 202, 1.0);
	float: left;
	margin: 130px 0px 130px 210px;
	text-align: center;
	line-height: 60px;

}
.main-bottom2-left a{
		color: rgba(255, 255, 255, 0.8);
		font-size: 18px;
}
.main-bottom2-right{
	width: 400px;
	height: 60px;
	float: right;
	background: rgba(66, 139, 202, 1.0);
	color: rgba(255, 255, 255, 0.8);
	margin: 130px 210px 130px 0px;
	text-align: center;
	line-height: 60px;

}
.main-bottom2-right a{
		color: rgba(255, 255, 255, 0.8);
		font-size: 18px;
}

/*第三页  characters*/
.main-characters{
	width: 1400px;
	height: auto;
	margin: 30px auto;
}
.main-characters-1{
	width: 1400px;
	height: autoa;
	margin: 20px 0px;
}
.main-characters-left{
	width: 900px;
	height: auto;
	float: left;
	text-indent: 2em;
	line-height: 2em;
	font-size: 28px;
	color: rgba(0, 0, 0, 0.8);
	padding: 20px;
}
.main-characters-right{
	width: 500px;
	height: auto;
	float: left;

}
.main-characters-right img{
	width: 100%;
	height: auto;
}
.main-characters-2-n{
	width: 1400px;
	height: auto;
	text-indent: 2em;
	line-height: 2em;
	font-size: 28px;
	padding: 15px;
}

.main-characters-2{
	width: 1400px;
	height: autoa;
	margin: 20px 0px;
}
.main-characters-2-n h3{
	font-size: 42px;
	font-weight: bold;
}
.main-characters-2-left h3{
	font-size: 42px;
	font-weight: bold;

}

.main-characters-left h3{
	font-size: 42px;
	font-weight: bold;
}
.main-characters-2-right{
	width: 500px;
	height: auto;
	float: left;

}
.main-characters-2-right img{
	width: 100%;
	height: auto;
}
.main-characters-2-left{
	width: 900px;
	height: auto;
	float: left;
	text-indent: 2em;
	line-height: 2em;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	padding: 20px;
}

/*第四页 products*/
.main-products{
	width: 1400px;
	height: auto;
	margin: 30px auto;
}
.main-products-1{
	width: 250px;
	height: 300px;
	float: left;
	margin: 15px;
	text-align: center;

}
.main-products-1 img{
	width: 100%;
	height: auto;
	border-radius: 10px;
	
}

/* 第五页 contact us页面*/
.main-regedit-1{
	width: 1400px;
	height: 180px;
	margin: auto;
	font-size: 30px;
	text-align: center;
	line-height: 180px;
	color: rgba(0, 0, 0, 0.8);
	border-bottom: 2px solid #666;
	margin-bottom: 30px;
}
.main-regedit{
	width: 1400px;
	height: auto;
	margin: auto;
}
.main-regedit-left{
	width: 650px;
	height: 320px;
	float: left;
	margin-bottom: 60px;

}
.main-regedit-left img{
	width: 100%;
	height: auto;
}
.main-regedit-right{
	width: 650px;
	height: 320px;
	float: left;
	margin-bottom: 60px;
	margin-left: 100px;
/*	border: 1px solid #333;*/
}
form{
	width: 650px;
	height: 260px;
	font-size: 28px;
	padding: 20px;

}
.input-1{
	width: 420px;
	height: 35px;
	margin: 10px 0px;
}
.input-2{
	width: 420px;
	height: 35px;
	margin: 10px 0px;
}

.input-3{
	width: 280px;
	height: 40px;
	margin: 0px 0px;
	background: rgba(66, 139, 202, 1.0);
	border: 0px ;
	margin-left: 200px;
}